.card-img-to {
  width: 100%;
  height: 100%;
}

@media (max-width: 768px) {
  .component-card {
    font-size: 14px;
  }

  .component-card h4 {
    font-size: 20px;
  }
  
  .component-card h5 {
    font-size: 18px;
  }
}