a:link {
  text-decoration: none;
}

.card-img {
  height: 300px;
  width: 300px;
  align-self: center;
}

.flex-shrink-0 img {
  width: 240px;
  height: 160px;
  margin-right: 16px;
  border-radius: 5%;
}

h5 {
  font-weight: 600;
}

h4 {
  font-weight: 600;
}

h2 {
  font-weight: 600;
}

.modal-footer {
  background-color: #333;
  color: #efefef;
  padding: 30px 0;
  justify-content: center;
}

.modal-footer a {
  color: #639bcf;
}

.modal-footer a:hover {
  color: #d8e6f3
}

.carousel-item img {
  height: 350px;
}

.text-1 {
  font-size: 45px;
  text-shadow: 2px 2px #000;
}

.text-2 {
  font-size: 40px;
  text-shadow: 2px 2px #000;
}

li button.btn {
  font-size: 30px;
  align-self: center;
  overflow: auto;
  text-overflow: ellipsis;
}

.botao-montagem {
  font-size: 20px;
}

h5.build-price {
  font-size: 40px;
}

.card-img-overlay {
  background-color: rgba(0, 0, 0, 0.5);
}

.scrollspy {
  height: 500px;
  text-align: justify;
  padding-right: 30px;
  font-size: larger;
  overflow: auto;
}

.nav-pills a {
  font-size: 26px;
  font-weight: 600;
  text-align: end;
}

.tab-content .card {
  font-size: 20px;
}

@media (max-width: 768px) {
  li button.btn {
    font-size: 20px;
    align-self: center;
    overflow: auto;
    text-overflow: ellipsis;
  }
}

@media (max-width: 1200px) {
  .carousel-item img {
    height: 300px;
  }
  .text-1 {
    font-size: 30px;
  }
  .text-2 {
    font-size: 25px;
  }
  .nav-pills a {
    font-size: 16px;
    font-weight: 600;
    text-align: end;
  }
}